name: Manually triggered workflow
on:
  workflow_dispatch:
    inputs:
      name:
        description: 'Person to greet'
        required: true
        default: 'Mona the Octocat'
      secret_test:
        description: 'location'
        required: false
        default: 'The Octoverse'

env:
  MY_SECRET: ''

jobs:
  say_hello:
    runs-on: ubuntu-latest
    name: do something

    steps:
      - name: Echo

        run: |
          echo "::add-mask::$MY_SECRET"
          MY_SECRET=${{ github.event.inputs.secret_test }}
          echo $MY_SECRET