name: Env Vars multi job
on:
  push:
env:
  env: 'staging'

jobs:
  set_env_var:
    runs-on: ubuntu-latest
    name: set env var
    steps:
      - name: set the var
        run: |
          if [[ "${{ env.APP_ENV }}" == "Staging" ]]
          then
            echo "NABOO_TOKEN=STAGE_TOKEN" >> $GITHUB_ENV
          else
            echo "NABOO_TOKEN=PROD_TOKEN" >> $GITHUB_ENV
          fi
      - name: echo
        run: echo $NABOO_TOKEN
  echo_token:
    needs: [set_env_var]
    runs-on: ubuntu-latest
    env:
       NABOO_TOKEN: ${{ env.NABOO_TOKEN }}
    steps:
      - name: echo!
        run: echo $NABOO_TOKEN