name: Repo Dispatch triggered workflow
on:
  repository_dispatch:
    types: [test-sanity,not-sanity]

env:
  MY_SECRET: 'NOT_A_SECRET'

jobs:
  # set_env:
  #   outputs:
  #     API_HOST: ${{ steps.daily.outputs.API_HOST }}
  #   runs-on: ubuntu-latest
  #   name: set env var
  #   env:
  #     API_HOST: ${{ github.event.action }}
  #   steps:
  #     - name: Echo
  #       if: github.event.action == 'test-sanity'
  #       id: daily
  #       run: |
  #         echo ${{github.event}}
  #         echo "::set-output name=API_HOST::$API_HOST"
  echo:
    runs-on: ubuntu-18.04
    env: 
      API_HOST: ${${{ github.event.action.payload.environment }}:=Staging}
    steps:
      - name: Echo
        run: |
          echo $API_HOST


