name: Repo Dispatch triggered workflow
on:
  repository_dispatch:
    types: [test-sanity,not-sanity]

env:
  MY_SECRET: 'NOT_A_SECRET'

jobs:
  set_env:
    outputs:
      API_HOST: ${{ steps.daily.outputs.API_HOST }}
    runs-on: ubuntu-latest
    name: set env var
    env:
      API_HOST: ${{ github.event.action }}
    if: ${{ github.event.action }} == 'test-sanity'
    steps:
      - name: Echo
        id: daily
        run: |
          echo "::set-output name=API_HOST::$API_HOST"
  echo:
    needs: [set_env]
    runs-on: ubuntu-18.04
    steps:
      - name: Echo
        run: |
          echo ${{needs.set_env.outputs.API_HOST}}


