name: downstream build

on:
  workflow_run:
    workflows: ["Build cht-core and test against node versions"]
    types: 
      - completed
      - requested

jobs:
  build:
    name: Compile the app
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Echo!
      run: ./echo2.sh