name: Build cht-core and test against node versions

on: [push]


jobs:
  build:
    env:
      TACOS: yes
    name: Compile the app
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Echo!
      run: ./echo.sh
    - name: Echo Step 2
      run: ./echo.sh
      if: env.TACO
